<% @list.each do |blog| %>

<div class="single_blog_holder dotted_border">
  <span style="font-size: 12px;"><%= blog.posted.strftime("%B %d, %Y") %></span>
  <br />
  <h3><a class="blog_title" href="/blog_entries/<%= blog.id %>"><%= blog.title %></a></h3>
  <%= blog.text.html_safe %>
 <br />
</div>
<br />

<% end %>
